<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<div>
<h2 id="comments"> Comments </h2>

</div>
	<% @post.comments.each do |comment| %>
	<p>
	Posted : <%= time_ago_in_words(comment.created_at) %>
	<br />
	<%= comment.body %> <br />
    </p>
	<% end %>


<p>
	<%= form_for([@post, Comment.new], remote: true ) do |f| %>
	<%= f.label :body, "New Comment" %>
	<%= f.text_area :body %>
</p>
<p>
	<%= f.submit "Add Comment" %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
